#detail-container
  %span#detail-view
    %table.list
      - @ads.each_with_index do |ad, index|
        %tr{class:('alt' if index%2==0)}
          %td
            %a{href:"/display/#{ad.id}"}= ad.title
          %td
            [&nbsp;
            %a{href:"/delete/#{ad.id}"}<> ✘
            &nbsp;]