#detail-container
  %span#detail-view
    %form{action:'/login', method:'post', id:'login'}

      %span.form-element
        %label{for:'username'} Username
        %span.required-field (required)
        %br
        %input{type:'text', name:'username', id:'username', placeholder:'Username'}

      %span.form-element
        %label{for:'password'} Password
        %span.required-field (required)
        %br
        %input{type:'password', name:'password', id:'password', placeholder:'Password'}

      %input{type:'hidden', name:'redirect_to', value:"#{escape(params[:to])}"}

      %div#login-button
        %input.fancy-button.fancy-orange{type:'submit', value:'Login'}