body {
  background: #f5f7f7 url('/images/paper.png') repeat;
  margin: 0;
  font-family: Helvetica, Arial;
  font-size: 16px;
}

/* Header */

#header {
  position: relative;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
  margin-bottom: 40px;
  min-height: 100px;
  background: #203045 url('/images/header.png') repeat;
  color: #ffffff;
  border-radius: 0px;
  tr.title-container {
    height: 80px;
  }
  table {
    #standard-nav {
      width: 88%;
    }
    #login-logout {
      text-align: right;
      width: 12%;
    }
  }
  span.title {
    margin: auto;
    height: 40%;
    color: #ffc;
    font-size: 40px;
  }
  table {
    width: 96%;
    border: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 7px;
    padding-bottom: 1px;
  }
}

@media only screen and (min-width: 900px), only screen and (min-device-width: 900px) {
  #header {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
  #header {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/* Navigation Bar */

#nav-container {
  text-align: left;
  padding: 4px;
  bottom: 0;
}

#navbar {
  margin: 0;
  padding: 0;
  a {
    color: #fff;
    text-decoration: none;
  }
  > li.item {
    padding: 8px 20px 8px 20px;
    display: inline;
    list-style: none;
    position: relative;
    &:hover, &.current {
      background: #d9e1eb;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      > a {
        text-decoration: underline;
        color: #2b2d2f;
      }
    }
    &:hover {
      > ul.item-list {
        display: inline-table;
        > li.detail-item {
          padding: 10px;
          display: block;
          min-width: 150px;
          background: #d9e1eb;
          color: #2b2d2f;
          -webkit-transition: color 0.1s ease-out;
          -webkit-transition: background 0.1s ease-out;
          &:first-child {
            border-top-right-radius: 7px;
          }
          &:last-child {
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
          }
          &:hover {
            background: #b7bec6;
            text-decoration: underline;
          }
        }
      }
    }
    > ul.item-list {
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      position: absolute;
      left: -2px;
      top: 30px;
    }
  }
  .detail-item > a {
    color: #2b2d2f;
  }
}

.spinner {
  padding: 10px 0px 10px 0;
  text-align: center;
}

#refresh-button {
  font-size: small;
  font-style: italic;
  text-decoration: none;
  display: none;
}

#navbar > li.item:hover #refresh-button {
  display: inline;
}

#refresh-button.on a {
  color: #ff7020 !important;
}

/* Page Container */

#detail-container {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
  max-width: 400px;
  border: 3px solid #b8b4b8;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

#detail-view {
  text-align: center;
}

/* Footer */

#copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  text-align: center;
  padding: 2px;
  display: block;
  font-size: 12px;
  background: #313f58 url('/images/jeans.png') repeat;
  color: #ffffb1;
  border-top: 3px solid #6c798c;
}
