body {
  background: #f5f7f7 url('/images/paper.png') repeat;
  margin: 0;

  font-family: Helvetica, Arial;
  font-size: 16px/18px;
}

#header {
  position: relative;
  text-align: center;

  top: 0;
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 40px;
  min-height: 100px;

  background: #203045 url('/images/header.png') repeat;
  color: #ffffff;
  border-radius: 0px;
}

@media only screen and (min-width: 900px), only screen and (min-device-width: 900px) {
  #header {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
  #header {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}


#header span {
  margin: auto;
  height: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  color: #ffc;
  font-size: 40px;
}

#copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  text-align: center;
  padding: 2px;
  display: block;
  font-size: 12px;
  background: #313f58 url('/images/jeans.png') repeat;
  color: #ffffb1;
  border-top: 3px solid #6c798c;
}