#form-container {
  
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  padding-bottom: 25px;

  max-width: 400px;

  border: 3px solid #b8b4b8;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);

}

form {
  text-align: center;
}

span.form-element {
  text-align: left;
  margin: 10px;
  display: inline-block;
}

label {
  font-size: 13px;
  font-weight: bold;
}

span.required-field {
  font-size: 12px;
  color: #b80018;
  font-style: italic;
}

input {
  width: 230px;
}

input[type='text'] {
  padding:5px;

  font-family: Helvetica;
  font-size: 16px;

  color: #646464;
  background:#f9f9f9;
  border:1px solid #CCCCCC;
}

#create-button {
  margin-top: 25px;
}